.container {
  display: inline-block;
}

.image {
  height: 200px;
  object-fit: contain;
}

.priceParagraph {
  font-size: 17px;
  font-weight: 600;
}

.description {
  color: rgb(123, 138, 139);
}

:global(.card) {
  width: 400px;
  padding: 1rem 0 0 0;
  min-height: 450px;
  max-height: auto;
}

:global(.card-body) {
  display: inline-block;
  min-height: 230px;
  max-height: auto;
}

:global(.card-title) {
  text-decoration: none;
  color: black;
}
