.navUl {
  list-style-type: none; /* Remove bullets */
  padding: 0 1; /* Remove padding */
  margin: 0; /* Remove margins */
}

.navItem {
  margin-right: 1rem;
  float: left;
}

.shoppingCart {
  width: 20px;
  position: relative !important;
  bottom: 2px;
}

.logo {
  color: white !important;
}

:global(.active) {
  color: white !important;
}

:global(.form-inline) {
  margin-left: auto;
  margin-right: 1rem;
}

:global(.navbar-nav) {
  margin-left: auto !important;
  margin-right: 2rem;
}
