:global(body) {
  color: rgb(123, 138, 139);
}

.container {
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: auto;
}

.productImage {
  max-height: 400px;
  max-width: 400px;
  float: left;
}

.info {
  width: 30%;
}

.ratingContainer {
  display: flex;
  gap: 1rem;
}

.ratingContainer span {
  color: black;
}

.ratingContainer p {
  color: rgb(0, 113, 133);
}

.price {
  color: black;
}

.buyCard {
  width: 15rem;
  padding: 1rem;
  border-radius: 13px;
  border: 2px solid gray;
}

.buyCardRow p {
  display: inline-block;
  width: 50%;
}

.available {
  color: green;
}

.soldout {
  color: red;
}

.productTitle {
  color: black;
}

.outterReviewsContainer {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviewsContainer {
  color: black;
  width: 80%;
}
